<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/fvp4ryh.css">
</head>
<body>

    <header>
        <h1>
            <span class="title-main">THE BOOK BARTER</span>
            <br>
            <span class="title-sub">CONCEPT <span class="title-sub-italic">of Deal</span></span>
            <br>
            <span class="title-sub">MADRID</span>
        </h1>
    </header>

    
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search for books">
    </div>

    
    <div class="categories">
        <img src="/assets/all2.png" alt="All" class="category-box" onclick="window.location.href='books.html'">
        <img src="/assets/contemporary.png" alt="Contemporary" class="category-box">
        <img src="/assets//fantasy.png" alt="Fantasy" class="category-box">
        <img src="/assets/romance.png" alt="Romance" class="category-box">
        <img src="/assets/psycho.png" alt="Psychology" class="category-box">
        <img src="/assets/history.png" alt="History" class="category-box">
        <img src="/assets/education.png" alt="Education" class="category-box">
    </div>


    <div id="all-books-container" style="text-align: center;">
        <img src="/assets/allBooks.png" alt="All Books" class="all-books-image">
    </div>

</body>
</html>