<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Error Page"/>
    <meta name="author" content="Your Name"/>
    <title>Login Error</title>
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Error: Invalid Login</h1>
</header>

<div class="error-container">
    <h2>Oops! Something went wrong.</h2>
    <p>Invalid email or password. Please try again.</p>

    <a href="/" class="highlight">Go back to Home</a> <!-- Redirects to the homepage -->

</div>

</body>
</html>
